<div class="main">
  <h2 class="main__headline">投稿したアニメ一覧</h2>
  <%= current_user.email %>
  <div>
    <div class="anime__list">
      <% @anime_list.each do |anime| %>
        <div class="anime__item">
          <div class="anime__image">
            <%= link_to anime_path(anime.id) do %>
              <div><%= attachment_image_tag anime, :image, :fill, 200, 100 %></div>
            <% end %>
          </div>
          <div class="anime__image-quote">
            <div class="anime__quote">引用元:</div>
            <div class="anime__quote-link">
              <%= link_to anime.quote, anime.quote_url, class: 'anime__link-quote' %>
            </div>
          </div>
          <div class="anime__info">
            <%= link_to anime_path(anime.id), class: 'anime__link-info' do %>
              <div class="anime__info-title">
                <%= anime.name %>
              </div>
              <div class="anime__tag-list">
                <% anime.tag_list.each do |tag| %>
                  <%= link_to tag, root_path(tag_name: tag), class: 'anime__tag-item' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
