<h3><%= @anime.name %>(アニメ詳細画面)</h3>
<div class="anime">
  <div>
    <%= attachment_image_tag @anime, :image, :fill, 200, 100 %>
  </div>
  <div>
    あらすじ
    <%= @anime.introduction %>
  </div>
  <div>
    ジャンル
    <%= @anime.genre.name %>
  </div>
  <% if @anime.user == current_user %>
    <div>
      <%= link_to "編集する", edit_anime_path(@anime) %>
    </div>
  <% end %>
</div>

<div class="comment">
  <h3>コメント</h3>
  <div class="comment-add sction">
    <%= form_with(model:[@anime, @comment], url:anime_comments_path(@anime.id), local:true) do |f| %>
      <%= f.text_area :comment, rows:'5', cols:'40' %>
      <div>
        <%= f.submit "送信する" %>
      </div>
    <% end %>
  </div>
  <div class="comments section">
    <div><%= @anime.comments.count %>件のコメント</div>
    <% @anime.comments.each do |comment| %>
      <div>
        <%= attachment_image_tag comment.user, :icon, :fill, 60, 60 %>
        <%= comment.user.name %><br />
        <%= comment.comment %>

        <% if comment.user == current_user %>
          <%= link_to "削除する", anime_comment_path(comment.anime, comment), method: :delete %>
        <% end %>

      </div>
    <% end %>
  </div>
</div>