<h3><%= @anime.name %>(アニメ詳細画面)</h3>
<div class="anime">
  <div>
    <%= attachment_image_tag @anime, :image, :fill, 200, 100 %>
  </div>
  <div>
    あらすじ
    <%= @anime.introduction %>
  </div>
  <div>
    ジャンル
    <%= @anime.genre.name %>
  </div>
  <% if @anime.user == current_user %>
    <div>
      <%= link_to "編集する", edit_anime_path(@anime) %>
    </div>
  <% end %>
</div>
<div class="comment"></div>