<div class="main">
  <h2 class="main__headline"><%= @anime.name %></h2>
  <div class="anime">
    <%= render 'layouts/anime_show', anime: @anime %>
  </div>

  <div class="comment">
    <h3 class="main__headline"><%= @anime.comments.count %>件のコメント</h3>
    <% if user_signed_in? %>
      <div class="comment__add">
        <%= form_with(model:[@anime, @comment], url:anime_comments_path(@anime.id), local:true) do |f| %>
          <%= f.text_area :comment, rows:'5', cols:'40', class: 'form__imput' %>
          <div class="form__actions">
            <%= f.submit "送信する", class: 'form__button-genre' %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= render 'layouts/comment_show', comments: @anime.comments, anime: @anime %>
  </div>
</div>