<div class="main">
  <% if @keyword %>
    <h2 class="main__headline">
      「<%= @keyword %>」検索結果
    </h2>
  <% elsif @name %>
    <h2 class="main__headline">
      「<%= @name %>」アニメ一覧
    </h2>
  <% else %>
    <div>
      <h2 class="main__headline">
        ジャンルから探す
      </h2>
      <div class="genre-list">
        <% @genre_list.each do |genre| %>
          <div class="genre-list__item">
            <%= link_to genre.name, root_path(genre_id: genre.id), class: 'genre-list__button' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <% if !@keyword && !@name %>
      <h2 class="main__headline">アニメ一覧</h2>
    <% end %>
    <div class="anime__list">
      <% @anime_list.each do |anime| %>
        <div class="anime__item">
          <div class="anime__image">
            <%= link_to anime_path(anime.id) do %>
              <div><%= attachment_image_tag anime, :image, :fill, 200, 100 %></div>
            <% end %>
          </div>
          <div class="anime__image-quote">
            <div class="anime__quote">引用元:</div>
            <div class="anime__quote-link">
              <%= link_to anime.quote, anime.quote_url, class: 'anime__link-quote' %>
            </div>
          </div>
          <div class="anime__info">
            <%= link_to anime_path(anime.id), class: 'genre-list__button' do %>
              <div class="anime__info-title">
                <%= anime.name %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
