<div>
  <% if @keyword %>
    <h3>
      「<%= @keyword %>」検索結果
    </h3>
  <% elsif @name %>
    <h3>
      <%= @name %>アニメ一覧
    </h3>
  <% else %>
    <div>
      <h3>
        ジャンルから探す
      </h3>
      <div>
        <% @genre_list.each do |genre| %>
          <%= link_to genre.name, root_path(genre_id: genre.id), class: 'genre-button' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <% if !@keyword && !@name %>
      <h3>アニメ一覧</h3>
    <% end %>
    <div>
      <% @anime_list.each do |anime| %>
        <%= link_to anime_path(anime.id) do %>
          <div><%= attachment_image_tag anime, :image, :fill, 200, 100 %></div>
          <div><%= anime.name %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
