<div class="main">
  <h2 class="main__headline">マイページ</h2>
  <ul class="mypage__button-list">
    <li class="mypage__button">
      <%= link_to "ユーザ情報編集", user_edit_path, class: 'link' %>
    </li>
    <li class="mypage__button">
      <%= link_to "投稿アニメ一覧", animes_path, class: 'link' %>
    </li>
    <li class="mypage__button">
      <%= link_to "新規アニメ投稿", new_anime_path, class: 'link' %>
    </li>
  </ul>
  <div class="mypage">
    <div class="mypage__sidebar">
      <div class="mypage__image">
        <%= attachment_image_tag @user, :icon, :fill, 150, 150 %>
      </div>
    </div>
    <div class="mypage__main">
      <table class="profile">
        <tbody>
          <tr>
            <th class="profile__title">ユーザ名</th>
            <td class="profile__item"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="profile__title">メールアドレス</th>
            <td class="profile__item"><%= @user.email %></td>
          </tr>
          <tr>
            <th class="profile__title">自己紹介</th>
            <td class="profile__item"><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>