<div class="main">
  <h2 class="main__headline"><%= @anime.name %></h2>
  <div class="anime">
    <div class="anime__image">
      <%= attachment_image_tag @anime, :image, :fill, 200, 200 %>
      <div class="anime__image-quote">
        <div class="anime__quote">引用元：</div>
        <div class="anime__quote-link"><%= link_to @anime.quote, @anime.quote_url, class: 'anime__link-quote' %></div>
      </div>
    </div>
    <div class="anime__detail">
      <div>
        <h3 class="anime__detail-title">アニメタイトル</h3>
        <div class="anime__detail-item"><%= @anime.name %></div>
      </div>
      <div>
        <h3 class="anime__detail-title">更新日</h3>
        <div class="anime__detail-item"><%= l @anime.updated_at, format: :default %></div>
      </div>
      <div>
        <h3 class="anime__detail-title">ユーザ名</h3>
        <div class="anime__detail-item"><%= link_to @anime.user.name, admin_user_path(@anime), class: 'anime__link-quote' %></div>
      </div>
      <div>
        <h3 class="anime__detail-title">ジャンル</h3>
        <div class="anime__detail-item"><%= @anime.genre.name %></div>
      </div>
      <div>
        <h3 class="anime__detail-title">推しポイント／魅力</h3>
        <div class="anime__detail-item"><%= @anime.introduction %></div>
      </div>
      <div>
        <h3 class="anime__detail-title">ステータス</h3>
        <div class="anime__detail-item">
          <% if @anime.is_active %>
            <div>公開中</div>
            <%= link_to "公開しない", admin_anime_path(@anime.id), method: :patch, class: 'anime__change-status' %>
          <% else %>
            <div>非公開</div>
            <%= link_to "公開する", admin_anime_path(@anime.id), method: :patch, class: 'anime__change-status' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="comment">
    <h3 class="comment__headline"><%= @comments.count %>件のコメント</h3>
    <% @comments.each do |comment| %>
      <div class="comment__list-item">
        <div class="comment__item-icon">
          <%= attachment_image_tag comment.user, :icon, :fill, 60, 60, fallback: 'no_user_image', class: 'comment__icon' %>
        </div>
        <div class="comment__item-info">
          <div class="comment__item-user">
            <%= link_to comment.user.name, admin_user_path(comment) , class: 'comment__link-user' %>
            <span class="anime__info-user"><%= l comment.created_at, format: :short %></span>
          </div>
          <div class="comment__item-comment">
            <%= comment.comment %>
          </div>
          <div class="comment__item-likes">♡<%= comment.likes.count %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>